body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formdetails {
    width: 50%; 
    background: #fff;
    padding: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px; 
}

.container {
    width: 100%;
    padding: 5px;
   
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: calc(100% - 20px); /* Ensures fields don't touch the right edge */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.accordion {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: calc(100% - 20px); /* Ensures accordion doesn't touch the right edge */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
}

.panel input {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 50%; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; 
    display: block;
}

button[type="submit"]:hover {
    background-color: #000a01;
}

#msg{
    color: #61b752;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}